{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% include "security/_messages.html" %}
<link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
<h1>Register</h1>
<form action="{{ url_for_security('register') }}" method="POST" name="register_user_form">
  {{ register_user_form.hidden_tag() }}
  {{ render_field_with_errors(register_user_form.first_name) }}
  {{ render_field_with_errors(register_user_form.last_name) }}
  {{ render_field_with_errors(register_user_form.email) }}
  {{ render_field_with_errors(register_user_form.password) }}
  {% if register_user_form.password_confirm %}
    {{ render_field_with_errors(register_user_form.password_confirm) }}
  {% endif %}
  {{ render_field(register_user_form.submit) }}
</form>
{% include "security/_menu.html" %}
 <!-- <form action="/signup" class="form" method="POST">
        <div style="display: none">
        <input id="csrf_token" name="csrf_token" type="hidden" value="1383635238.9##d8f7f433e854cc682ade261cd9bb7113a147ee29" />
        </div>
        <div class="heading">
        <h4 class="form-heading">Publish your biography to the world!</h4>
        </div>
        <div class="form-group ">
        <label for="email">Email address</label>
        <input class="form-control" id="email" name="email" type="text" value="elawibowo@gmail.com" /> 
        <p class="help-block">
         
        
        </div>
        <div class="form-group  has-error ">
        <label for="password">Pick a secure password</label>
        <input class="form-control" id="password" name="password" type="password" />
        <p class="help-block">
        This field is required.
        
        </div>
        <div class="form-group  has-error ">
        <label for="username">Choose your username</label>
        <input class="form-control" id="username" name="username" type="text" /> 
        <p class="help-block">
        This field is required.
        
        </div>
        <div class="form-group  has-error ">
        <label class="checkbox">
        <input id="agree" name="agree" type="checkbox" value="y" /> <label for="agree">I agree all your </label></label>Terms of Services
        <p class="help-block">
        You must accept our Terms of Service
        
        </div>
        <button class="btn btn-success" type="submit">Sign Up</button>
</form> -->